@import "tailwindcss";

:root {
  --background: oklch(97.552% 0.0067 97.351);
  --foreground: oklch(22.082% 0.01825 62.847);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --font-serif: var(--font-instrument-serif);

  --color-licorice: oklch(22.082% 0.01825 62.847);
  --color-licorice-50: oklch(86.652% 0.02341 61.191);
  --color-licorice-100: oklch(83.626% 0.0291 65.702);
  --color-licorice-200: oklch(77.544% 0.04021 63.381);
  --color-licorice-300: oklch(71.395% 0.0518 61.831);
  --color-licorice-400: oklch(65.06% 0.06383 62.195);
  --color-licorice-500: oklch(58.435% 0.06527 61.871);
  --color-licorice-600: oklch(50.924% 0.05583 63.044);
  --color-licorice-700: oklch(43.266% 0.04597 62.334);
  --color-licorice-800: oklch(35.251% 0.03556 61.086);
  --color-licorice-900: oklch(26.593% 0.02435 63.752);
  --color-licorice-950: oklch(22.082% 0.01825 62.847);

  --color-powder: oklch(97.552% 0.0067 97.351);
  --color-powder-50: oklch(97.552% 0.0067 97.351);
  --color-powder-100: oklch(94.136% 0.01609 99.001);
  --color-powder-200: oklch(87.091% 0.03545 96.342);
  --color-powder-300: oklch(80.103% 0.05454 98.027);
  --color-powder-400: oklch(72.796% 0.07336 98.059);
  --color-powder-500: oklch(64.587% 0.08131 99.149);
  --color-powder-600: oklch(53.204% 0.06452 98.294);
  --color-powder-700: oklch(41.049% 0.04771 98.614);
  --color-powder-800: oklch(28.285% 0.03061 99.933);
  --color-powder-900: oklch(13.426% 0.00844 94.11);
  --color-powder-950: oklch(0% 0 none);


}

@layer base {

  h1 {
  @apply text-5xl font-bold tracking-tight font-serif leading-[58px];
}

h2 {
  @apply text-4xl font-semibold font-serif leading-[47px];
}

h3 {
  @apply text-3xl font-semibold font-serif leading-[39px];
}

h4 {
  @apply text-2xl font-serif leading-[34px];
}

h5 {
  @apply text-xl font-serif leading-[28px];
}

h6 {
  @apply text-lg font-serif leading-[27px];
}

p {
  @apply text-base font-sans leading-6; /* 24px */
}

  body {
    background: var(--background);
    color: var(--foreground);
  }

  input {
    @apply outline-licorice
  }

  input:focus {
    @apply  outline-licorice outline-none 
  }

  input:hover {
    @apply  outline-licorice
  }

  textarea {
    @apply outline-licorice resize-none scroll-auto
  }

  textarea:focus {
    @apply  outline-licorice outline-none
  }

  textarea:hover {
    @apply  outline-licorice
  }

  button {
    @apply bg-licorice text-foreground text-white py-2 px-4 transition-colors duration-200 ease-in-out;
  }
}