@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  h1 {
    font-family: var(--font-instrument-serif);
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
  }

  h1.title {
    font-family: var(--font-instrument-serif);
    font-style: normal;
    font-size: 2.5rem;
    font-weight: bold;
  }
  a { 
  font-family: var(--font-instrument-sans);
}

a.link {
  font-family: var(--font-instrument-serif);
  font-weight:bold;
}

a.link:hover {
  color: var(--foreground); /* Beispiel: Farbe ändern beim Hover */
  text-decoration: underline;    /* Beispiel: Unterstreichung entfernen beim Hover */
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

