@import "tailwindcss";

:root {
  --background: var(--color-powder);
  --foreground: var(--color-night);
}

@theme inline {
  --color-night: oklch(23.544% 0.00189 286.25);
  --color-night-50: oklch(87.36% 0.00272 286.34);
  --color-night-100: oklch(84.27% 0.00275 286.34);
  --color-night-200: oklch(77.717% 0.00421 286.3);
  --color-night-300: oklch(71.316% 0.0043 286.29);
  --color-night-400: oklch(64.467% 0.00588 286.23);
  --color-night-500: oklch(57.399% 0.00606 286.21);
  --color-night-600: oklch(50.458% 0.00626 286.17);
  --color-night-700: oklch(43.233% 0.00488 286.19);
  --color-night-800: oklch(35.691% 0.00341 286.23);
  --color-night-900: oklch(27.724% 0.00181 286.28);
  --color-night-950: oklch(23.544% 0.00189 286.25);

  --color-powder: oklch(99.592% 0.00526 106.49);
  --color-powder-50: oklch(100% 0 none);
  --color-powder-100: oklch(99.592% 0.00526 106.49);
  --color-powder-200: oklch(95.959% 0.05454 107.38);
  --color-powder-300: oklch(92.22% 0.09983 108.21);
  --color-powder-400: oklch(88.967% 0.13883 108.92);
  --color-powder-500: oklch(85.903% 0.16718 109.46);
  --color-powder-600: oklch(76.463% 0.15708 109.6);
  --color-powder-700: oklch(62.052% 0.12615 109.57);
  --color-powder-800: oklch(46.397% 0.09207 109.51);
  --color-powder-900: oklch(29.252% 0.05439 109.34);
  --color-powder-950: oklch(19.926% 0.03261 109.03);

  --color-trinidad: oklch(62.257% 0.19048 41.28);
  --color-trinidad-50: oklch(90.928% 0.05352 52.316);
  --color-trinidad-100: oklch(88.04% 0.07164 51.453);
  --color-trinidad-200: oklch(82.498% 0.10914 50.681);
  --color-trinidad-300: oklch(77.41% 0.14591 49.339);
  --color-trinidad-400: oklch(72.938% 0.17888 46.568);
  --color-trinidad-500: oklch(69.349% 0.20507 42.358);
  --color-trinidad-600: oklch(62.257% 0.19048 41.28);
  --color-trinidad-700: oklch(50.439% 0.15235 41.949);
  --color-trinidad-800: oklch(38.032% 0.11075 43.941);
  --color-trinidad-900: oklch(24.374% 0.06587 48.508);
  --color-trinidad-950: oklch(16.988% 0.04058 58.185);

  --color-butterfly: oklch(51.137% 0.13404 302.57);
  --color-butterfly-50: oklch(92.765% 0.01978 305.25);
  --color-butterfly-100: oklch(88.956% 0.03 305.09);
  --color-butterfly-200: oklch(81.371% 0.05274 305.36);
  --color-butterfly-300: oklch(73.844% 0.07341 305.11);
  --color-butterfly-400: oklch(66.081% 0.09793 304.64);
  --color-butterfly-500: oklch(58.463% 0.1212 303.56);
  --color-butterfly-600: oklch(51.137% 0.13404 302.57);
  --color-butterfly-700: oklch(42.717% 0.10761 302.7);
  --color-butterfly-800: oklch(33.67% 0.08129 303.4);
  --color-butterfly-900: oklch(24.253% 0.05211 303.23);
  --color-butterfly-950: oklch(19.115% 0.03491 302.17);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-space-grotesk);
  --font-logo: var(--font-jetbrains-mono);
  --font-title: var(--font-playfair-display);
}

@layer base {

  .pagetitle {
    @apply w-full text-center font-title text-4xl md:text-6xl xl:text-7xl;
  }


  .card {
    @apply flex-col flex border-night border-[1.5px] p-4 shadow-md;
  }

  h1 {
    @apply text-4xl lg:text-5xl  font-bold tracking-tight font-title leading-[58px];
  }

  h2 {
    @apply text-3xl lg:text-4xl font-semibold font-title leading-[47px];
  }

  h3 {
    @apply text-2xl lg:text-3xl font-semibold font-title leading-[39px];
  }

  h4 {
    @apply text-xl lg:text-2xl font-title leading-[34px];
  }

  h5 {
    @apply text-lg lg:text-xl font-title leading-[28px];
  }

  h6 {
    @apply text-sm lg:text-lg font-title leading-[27px];
  }

  p {
    @apply text-base font-body leading-6; /* 24px */
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }

  input {
    @apply outline-night;
  }

  input:focus {
    @apply outline-night outline-none;
  }

  input:hover {
    @apply outline-night;
  }

  textarea {
    @apply outline-night resize-none scroll-auto;
  }

  textarea:focus {
    @apply outline-night outline-none;
  }

  textarea:hover {
    @apply outline-night;
  }

  button {
    @apply bg-trinidad text-powder py-2 px-4 transition-colors duration-200 ease-in-out font-body;
  }

  Link {
    @apply cursor-pointer
  }
}

.bg-woman {
  background-image: url('/woman_1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
